In [1]:
import pandas as pd

# Load dataset
data_path = r"C:\Users\GURUDEEP SINGH\OneDrive\Documents\Loan Default\Loan_default.csv"
data = pd.read_csv(data_path)

# Basic data inspection
print(data.head())
print(data.info())
print(data.describe())

       LoanID  Age  Income  LoanAmount  CreditScore  MonthsEmployed  \
0  I38PQUQS96   56   85994       50587          520              80
1  HPSK72WA7R   69   50432      124440          458              15
2  C1OZ6DPJ8Y   46   84208      129188          451              26
3  V2KKSFM3UN   32   31713       44799          743               0
4  EY08JDHTZP   60   20437        9139          633               8

   NumCreditLines  InterestRate  LoanTerm  DTIRatio    Education  \
0               4         15.23        36      0.44   Bachelor's
1               1          4.81        60      0.68     Master's
2               3         21.17        24      0.31     Master's
3               3          7.07        24      0.23  High School
4               4          6.51        48      0.73   Bachelor's

  EmploymentType MaritalStatus HasMortgage HasDependents LoanPurpose  \
0      Full-time      Divorced         Yes           Yes       Other
1      Full-time       Married          No            No       Other
2     Unemployed      Divorced         Yes           Yes        Auto
3      Full-time       Married          No            No    Business
4     Unemployed      Divorced          No           Yes        Auto

  HasCoSigner  Default
0         Yes        0
1         Yes        0
2          No        1
3          No        0
4          No        0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255347 entries, 0 to 255346
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          255347 non-null  object
 1   Age             255347 non-null  int64
 2   Income          255347 non-null  int64
 3   LoanAmount      255347 non-null  int64
 4   CreditScore     255347 non-null  int64
 5   MonthsEmployed  255347 non-null  int64
 6   NumCreditLines  255347 non-null  int64
 7   InterestRate    255347 non-null  float64
 8   LoanTerm        255347 non-null  int64
 9   DTIRatio        255347 non-null  float64
 10  Education       255347 non-null  object
 11  EmploymentType  255347 non-null  object
 12  MaritalStatus   255347 non-null  object
 13  HasMortgage     255347 non-null  object
 14  HasDependents   255347 non-null  object
 15  LoanPurpose     255347 non-null  object
 16  HasCoSigner     255347 non-null  object
 17  Default         255347 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 35.1+ MB
None
                 Age         Income     LoanAmount    CreditScore  \
count  255347.000000  255347.000000  255347.000000  255347.000000
mean       43.498306   82499.304597  127578.865512     574.264346
std        14.990258   38963.013729   70840.706142     158.903867
min        18.000000   15000.000000    5000.000000     300.000000
25%        31.000000   48825.500000   66156.000000     437.000000
50%        43.000000   82466.000000  127556.000000     574.000000
75%        56.000000  116219.000000  188985.000000     712.000000
max        69.000000  149999.000000  249999.000000     849.000000

       MonthsEmployed  NumCreditLines   InterestRate       LoanTerm  \
count   255347.000000   255347.000000  255347.000000  255347.000000
mean        59.541976        2.501036      13.492773      36.025894
std         34.643376        1.117018       6.636443      16.969330
min          0.000000        1.000000       2.000000      12.000000
25%         30.000000        2.000000       7.770000      24.000000
50%         60.000000        2.000000      13.460000      36.000000
75%         90.000000        3.000000      19.250000      48.000000
max        119.000000        4.000000      25.000000      60.000000

            DTIRatio        Default
count  255347.000000  255347.000000
mean        0.500212       0.116128
std         0.230917       0.320379
min         0.100000       0.000000
25%         0.300000       0.000000
50%         0.500000       0.000000
75%         0.700000       0.000000
max         0.900000       1.000000

In [2]:
# Check for non-numeric values in numeric columns
print(data.apply(lambda s: pd.to_numeric(s, errors='coerce')).isnull().sum())

LoanID            255347
Age                    0
Income                 0
LoanAmount             0
CreditScore            0
MonthsEmployed         0
NumCreditLines         0
InterestRate           0
LoanTerm               0
DTIRatio               0
Education         255347
EmploymentType    255347
MaritalStatus     255347
HasMortgage       255347
HasDependents     255347
LoanPurpose       255347
HasCoSigner       255347
Default                0
dtype: int64

In [3]:
# Convert columns to numeric, coercing errors to NaN
data_cleaned = data.apply(lambda s: pd.to_numeric(s, errors='coerce'))

# Check the first few rows to understand the changes
print(data_cleaned.head())

# Handle NaN values - for simplicity, we can drop them (you can use other strategies too)
data_cleaned = data_cleaned.dropna()

   LoanID  Age  Income  LoanAmount  CreditScore  MonthsEmployed  \
0     NaN   56   85994       50587          520              80
1     NaN   69   50432      124440          458              15
2     NaN   46   84208      129188          451              26
3     NaN   32   31713       44799          743               0
4     NaN   60   20437        9139          633               8

   NumCreditLines  InterestRate  LoanTerm  DTIRatio  Education  \
0               4         15.23        36      0.44        NaN
1               1          4.81        60      0.68        NaN
2               3         21.17        24      0.31        NaN
3               3          7.07        24      0.23        NaN
4               4          6.51        48      0.73        NaN

   EmploymentType  MaritalStatus  HasMortgage  HasDependents  LoanPurpose  \
0             NaN            NaN          NaN            NaN          NaN
1             NaN            NaN          NaN            NaN          NaN
2             NaN            NaN          NaN            NaN          NaN
3             NaN            NaN          NaN            NaN          NaN
4             NaN            NaN          NaN            NaN          NaN

   HasCoSigner  Default
0          NaN        0
1          NaN        0
2          NaN        1
3          NaN        0
4          NaN        0

In [4]:
# One-hot encoding categorical features
categorical_cols = ['Education', 'EmploymentType', 'MaritalStatus', 'HasMortgage', 'HasDependents', 'LoanPurpose', 'HasCoSigner']
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Verify changes
print(data.head())

       LoanID  Age  Income  LoanAmount  CreditScore  MonthsEmployed  \
0  I38PQUQS96   56   85994       50587          520              80
1  HPSK72WA7R   69   50432      124440          458              15
2  C1OZ6DPJ8Y   46   84208      129188          451              26
3  V2KKSFM3UN   32   31713       44799          743               0
4  EY08JDHTZP   60   20437        9139          633               8

   NumCreditLines  InterestRate  LoanTerm  DTIRatio  ...  \
0               4         15.23        36      0.44  ...
1               1          4.81        60      0.68  ...
2               3         21.17        24      0.31  ...
3               3          7.07        24      0.23  ...
4               4          6.51        48      0.73  ...

   EmploymentType_Unemployed  MaritalStatus_Married  MaritalStatus_Single  \
0                      False                  False                 False
1                      False                   True                 False
2                       True                  False                 False
3                      False                   True                 False
4                       True                  False                 False

   HasMortgage_Yes  HasDependents_Yes  LoanPurpose_Business  \
0             True               True                 False
1            False              False                 False
2             True               True                 False
3            False              False                  True
4            False               True                 False

   LoanPurpose_Education  LoanPurpose_Home  LoanPurpose_Other  HasCoSigner_Yes
0                  False             False               True             True
1                  False             False               True             True
2                  False             False              False            False
3                  False             False              False            False
4                  False             False              False            False

[5 rows x 26 columns]

In [5]:
# Create new features
data['CreditScore_Bucket'] = data['CreditScore'].apply(lambda x: 'High' if x > 700 else ('Medium' if x > 600 else 'Low'))
data['Income_to_LoanAmount'] = data['Income'] / data['LoanAmount']
data['DTI_Bucket'] = data['DTIRatio'].apply(lambda x: 'Low' if x < 0.3 else ('Medium' if x < 0.6 else 'High'))

# One-hot encoding new features
data = pd.get_dummies(data, columns=['CreditScore_Bucket', 'DTI_Bucket'], drop_first=True)

# Verify changes
print(data.head())

       LoanID  Age  Income  LoanAmount  CreditScore  MonthsEmployed  \
0  I38PQUQS96   56   85994       50587          520              80
1  HPSK72WA7R   69   50432      124440          458              15
2  C1OZ6DPJ8Y   46   84208      129188          451              26
3  V2KKSFM3UN   32   31713       44799          743               0
4  EY08JDHTZP   60   20437        9139          633               8

   NumCreditLines  InterestRate  LoanTerm  DTIRatio  ...  \
0               4         15.23        36      0.44  ...
1               1          4.81        60      0.68  ...
2               3         21.17        24      0.31  ...
3               3          7.07        24      0.23  ...
4               4          6.51        48      0.73  ...

   LoanPurpose_Business  LoanPurpose_Education  LoanPurpose_Home  \
0                 False                  False             False
1                 False                  False             False
2                 False                  False             False
3                  True                  False             False
4                 False                  False             False

   LoanPurpose_Other  HasCoSigner_Yes  Income_to_LoanAmount  \
0               True             True              1.699923
1               True             True              0.405272
2              False            False              0.651825
3              False            False              0.707895
4              False            False              2.236240

   CreditScore_Bucket_Low  CreditScore_Bucket_Medium  DTI_Bucket_Low  \
0                    True                      False           False
1                    True                      False           False
2                    True                      False           False
3                   False                      False            True
4                   False                       True           False

   DTI_Bucket_Medium
0               True
1              False
2               True
3              False
4              False

[5 rows x 31 columns]

In [6]:
from sklearn.model_selection import train_test_split

X = data.drop(['Default', 'LoanID'], axis=1)  # Excluding 'LoanID' as it's likely not useful for predictions
y = data['Default']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shapes of the splits
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(204277, 29) (51070, 29) (204277,) (51070,)

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

# Scaling the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Logistic Regression Model
pd_model = LogisticRegression(max_iter=500)
pd_model.fit(X_train_scaled, y_train)

# Predictions and evaluation
pd_preds = pd_model.predict(X_test_scaled)
print(pd_preds[:10])  # Output the first 10 predictions

[0 0 0 0 0 0 0 0 0 0]

In [9]:
from sklearn.metrics import classification_report, accuracy_score

# PD Evaluation
print("Accuracy:", accuracy_score(y_test, pd_preds))
print("Classification Report:")
print(classification_report(y_test, pd_preds))

Accuracy: 0.8859212845114549
Classification Report:
              precision    recall  f1-score   support

           0       0.89      1.00      0.94     45170
           1       0.61      0.03      0.06      5900

    accuracy                           0.89     51070
   macro avg       0.75      0.52      0.50     51070
weighted avg       0.86      0.89      0.84     51070

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Train the LGD model
lgd_model = LinearRegression()
lgd_model.fit(X_train_scaled, y_train)

# Predictions and evaluation
lgd_preds = lgd_model.predict(X_test_scaled)
print("LGD Predictions:", lgd_preds[:10])
print("LGD Mean Squared Error:", mean_squared_error(y_test, lgd_preds))

LGD Predictions: [ 0.00358436  0.05707864  0.09771599  0.15331234  0.16131584  0.17950595
  0.07219976  0.06697962 -0.00976321  0.12647127]
LGD Mean Squared Error: 0.09343924154565102